body{
    margin:auto;
}
a{
    text-decoration: none;
}
/*header CSS*/
#header{
    height:60px;
    width:100%;
    background-color: rgb(81 80 80);
}

#icon{
    float:left;
    margin-left: 1%;
    margin-top: -1%;
    color:antiquewhite;
}
#social{
    float: right;
    margin-top: 0.5%;
}

.slogo{
    height:40px;
    width:40px;
}

#logo {
    height: 40px;
    width: 40px;
    background-color:rgba(251, 255, 0, 0.65);
    border-radius: 50%;
    margin-left: 48%;
    margin-top: 0.5%;
    position: absolute;
    animation: revolve 3s infinite;
}

@keyframes revolve{
    100% {transform: scale(1.15)}
}

#logo>span{
    margin-left: 30%;
    margin-top: 14%;
    position:absolute;
    font-size: 23px;
    color: black;
    font-weight: bold;
}

.HeadingText{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#content{
    height:800px;
    width:80%;
    margin-left:10%;
}

#FilterDiv{
    height:500px;
    width:20%;
    border:3px groove green;
    float: left;
}

#FilterDiv>h1{
    text-align: center;
}

#FilterDiv>h3{
    text-align: center;
    color: rgba(0, 0, 0, 0.733);
}

#contentDiv{
    height:200px;
    width:77%;
    margin-left: 2%;
    float: left;
}

.contentContainer:hover{
    transform: scale(1.05);
}

.contentContainer{
    width:90%;
    height:210px;
    box-shadow: 10px 12px 13px grey;
    display:inline-block;
    margin-left: 13%;
    margin-top: 2%;
    border-radius:15px;
    border-style:solid;
    border-color:#000000bf;
}

.content1{
    width:50%;
    height:180px;
    float:left;
}

.content1>img{
    width: 100%;
    height: 210px;
    border-radius:11px;
}

.content2{
    width:50%;
    float:left;
}

.contentHeading{
    height: 30px;
    margin-left: 4%;
    margin-top: 2%;
    font-weight: bold;
}

.contentHeading > a{
    color:#4b0d06;
}

.contentSubHeading{
    height: 20px;
    margin-left: 4%;
    color:black;

}

#meals1{
    text-align: center;
    width:25%;
    margin-left: 1%;
    float:left;
    background-color: yellow;
}

#meals2{
    text-align: center;
    width:15%;
    margin-left: 2%;
    float:left;
    background-color: rgba(0, 0, 255, 0.65);
}

#area{
    text-align: center;
    width:25%;
    margin-left: 2%;
    float:left;
    background-color: orange;
}

#type{
    text-align: center;
    width:25%;
    margin-left: 2%;
    float:left;
    background-color: rgba(0, 128, 0, 0.856);
}

.numbers{
    margin-left:58.5%;
}

/*footer CSS*/
#footer{
    height:120px;
    width:100%;
    margin-top: 5%;
    background-color:rgb(81 80 80);
}

#footText{
    text-align: center;
    color:white;
}

.footDiv{
    height: 70px;
    width: 33%;
    float: left;
    border-right: 2px solid white;
    text-align: center;
}

.noBorder{
    border:none;
}

@media screen and (max-width:1500px){
    body{
        background-color:rgb(245, 217, 180)
    }
    .content1>img {
        height: 210px;
    }
}

@media screen and (max-width:1250px){
    body{
        background-color:rgb(245, 217, 180)
    }
    #area {
        width: 28%;
    }
    #meals1 {
        margin-left: 0%;
    }
}
@media screen and (max-width:1120px){
    body{
        background-color:rgb(245, 217, 180)
    }
    #area {
        width: 29%;
    }
    #meals1 {
        width: 23%;
    }
    #type {
        width: 26%;
    }
}

@media screen and (max-width:1062px){
    body{
        background-color:rgb(245, 217, 180)
    }
    .contentContainer {
        width: 92%;
    }
    #area {
        width: 30%;
        margin-left: 1%;
    }
    #meals1 {
        width: 22%;
        margin-left: -1%;
    }
    #meals2 {
        width: 18%;
    }
    #type {
        width: 27%;
        margin-left: 1%;
    }
    .numbers{
        margin-left: 56.5%;
        margin-top: -2%;
    }
}

@media screen and (max-width:920px){
    body{
        background-color:rgb(245, 217, 180)
    }
    #FilterDiv {
        margin-left:-5%;
        width: 24%;
    }
    .contentContainer {
        width: 98%;
        margin-left: 8%;
    }
    .contentHeading {
        height: 16px;
    }
    #area {
        width: 38%;
        margin-left: 2%;
    }
    #type {
        width: 34%;
        margin-left:-1%;
        margin-top:3%;
    }
    #meals1 {
        width: 28%;
        margin-left: -1%;
    }
    #meals2 {
        width: 20%;
        margin-left: 2%;
    }
    .numbers{
        margin-left: 54.5%;
    }
}

@media screen and (max-width:732px){
    body{
        background-color:rgb(245, 217, 180)
    }
    #FilterDiv {
        margin-left:-7%;
        width: 24%;
    }
    .contentContainer {
        width: 105%;
        height: 230px;
        margin-left: 8%;
    }
    #area {
        width: 42%;
        margin-left: 2%;
    }
    #type {
        width: 38%;
        margin-left:2%;
        margin-top: 3%;
    }
    #meals1 {
        width: 28%;
        margin-left: 2%;
    }
    #meals2 {
        width: 22%;
        margin-left: 2%;
    }
    .content1>img {
        height: 230px;
    }
}

@media screen and (max-width:660px){
    body{
        background-color:rgb(245, 217, 180)
    }
    #area {
        width: 45%;
        margin-top: 3%;
    }
    #meals1 {
        width: 34%;
    }
    #meals2 {
        width: 26%;
    }
    #type {
        width: 42%;
    }
    .numbers{
        margin-left: 51.5%;
    }
}
@media screen and (max-width:560px){
    body{
        background-color:rgb(245, 217, 180)
    }
    #FilterDiv {
        margin-left: -10%;
        width: 27%;
    }
    .contentContainer {
        height: 244px;
        margin-left: 6%;
        margin-top: 3%;
    }
    #area {
        width: 54%;
    }
    #meals1 {
        width: 40%;
    }
    #meals2 {
        width: 32%;
    }
    #type {
        width: 48%;
    }
    .content1>img {
        height: 244px;
    }
    .numbers{
        margin-left: 49.5%;
        margin-top: 8%;
    }
}

@media screen and (max-width:507px){
    body{
        background-color:rgb(245, 217, 180)
    }
    #FilterDiv {
        margin-left: -11%;
        width: 29%;
    }
    #area {
        width: 58%;
    }
    #type {
        width: 55%;
    }
    .contentSubHeading {
        height: 18px;
        margin-left: 4%;
    }
    .contentHeading {
        height: 18px;
    }
    .contentContainer {
        width: 110%;
        margin-left: 5%;
    }
}