body{
    margin:auto;
}
a{
    text-decoration: none;
}
/*header CSS*/
#header{
    height:60px;
    width:100%;
    background-color: rgb(81 80 80);
}

#icon{
    float:left;
    margin-left: 1%;
    margin-top: -1%;
    color:antiquewhite;
}
#social{
    float: right;
    margin-top: 0.5%;
}

.slogo{
    height:40px;
    width:40px;
}

.HeadingText{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#content{
    height:800px;
    width:80%;
    margin-left:10%;
}

#FilterDiv{
    height:500px;
    width:20%;
    border:3px groove green;
    float: left;
}

#FilterDiv>h1{
    text-align: center;
}

#FilterDiv>h3{
    text-align: center;
    color: rgba(0, 0, 0, 0.733);
}

#contentDiv{
    height:200px;
    width:77%;
    margin-left: 2%;
    float: left;
}
.contentContainer{
    width:90%;
    height:210px;
    box-shadow: 10px 12px 13px grey;
    display:inline-block;
    margin-left: 13%;
    margin-top: 2%;
}

.content1{
    width:50%;
    height:180px;
    float:left;
}

.content1>img{
    width: 100%;
    height:180px;
    margin-left: 2%;
    margin-top: 2%;
}
.content2{
    width:50%;
    float:left;
}

.contentHeading{
    height: 30px;
    margin-left: 4%;
    margin-top: 2%;
    color:blue;
    font-weight: bold;
}

.contentSubHeading{
    height: 20px;
    margin-left: 4%;
    color:black;

}

#meals1{
    text-align: center;
    width:25%;
    margin-left: 1%;
    float:left;
    background-color: yellow;
}

#meals2{
    text-align: center;
    width:15%;
    margin-left: 2%;
    float:left;
    background-color: rgba(0, 0, 255, 0.65);
}

#area{
    text-align: center;
    width:25%;
    margin-left: 2%;
    float:left;
    background-color: orange;
}

#type{
    text-align: center;
    width:25%;
    margin-left: 2%;
    float:left;
    background-color: rgba(0, 128, 0, 0.856);
}

.numbers{
    background-color: rgba(81, 80, 80, 0.589);
    border:1px solid black;
    width:5.5%;
    text-align: center;
    margin-left:62%;
    margin-top: -4%;
}

/*footer CSS*/
#footer{
    height:120px;
    width:100%;
    margin-top: 5%;
    background-color:rgb(81 80 80);
}

#footText{
    text-align: center;
    color:white;
}

.footDiv{
    height: 70px;
    width: 33%;
    float: left;
    border-right: 2px solid white;
    text-align: center;
}

.noBorder{
    border:none;
}

@media screen and (max-width:1500px){
    body{
        background-color:rgb(245, 217, 180)
    }
    .content1>img {
        height: 203px;
    }
}

@media screen and (max-width:1250px){
    body{
        background-color:rgb(152, 238, 152)
    }
    .content1>img {
        height: 204px;
    }
    #area {
        width: 28%;
    }
    #meals1 {
        margin-left: 0%;
    }
    .numbers {
        width:6.5%;
        margin-left: 61.5%;
    }
}
@media screen and (max-width:1120px){
    body{
        background-color:lightpink
    }
    #area {
        width: 29%;
    }
    #meals1 {
        width: 23%;
    }
    #type {
        width: 26%;
    }
}

@media screen and (max-width:1062px){
    body{
        background-color:rgb(236, 236, 106)
    }
    .content1>img {
        height: 203px;
    }
    .numbers {
        width: 7.5%;
    }
    .contentContainer {
        width: 92%;
    }
    #area {
        width: 30%;
        margin-left: 1%;
    }
    #meals1 {
        width: 22%;
        margin-left: -1%;
    }
    #meals2 {
        width: 18%;
    }
    #type {
        width: 27%;
        margin-left: 1%;
    }
}

@media screen and (max-width:920px){
    body{
        background-color:lightblue
    }
    #FilterDiv {
        margin-left:-5%;
        width: 24%;
    }
    .contentContainer {
        width: 98%;
        margin-left: 8%;
    }
    #area {
        width: 32%;
        margin-left: 0%;
    }
    #type {
        width: 29%;
        margin-left:0%;
    }
    #meals1 {
        width: 22%;
        margin-left: -2%;
    }
    #meals2 {

        margin-left: 0%;
    }
    .numbers{
        width: 9.5%;
        margin-left: 59%;
    }
    .content1>img {
        height: 204px;
    }
}

@media screen and (max-width:732px){
    body{
        background-color:rgba(255, 166, 0, 0.589)
    }
    .numbers {
        width: 10.5%;
        margin-left: 58%;
        margin-top: 3%;
    }
    #FilterDiv {
        margin-left:-7%;
        width: 24%;
    }
    .contentContainer {
        width: 105%;
        height: 230px;
        margin-left: 8%;
    }
    #area {
        width: 42%;
        margin-left: 2%;
    }
    #type {
        width: 38%;
        margin-left:2%;
        margin-top: 3%;
    }
    #meals1 {
        width: 28%;
        margin-left: 2%;
    }
    #meals2 {
        width: 22%;
        margin-left: 2%;
    }
    .content1>img {
        height: 225px;
    }
}

@media screen and (max-width:660px){
    body{
        background-color:rgba(255, 0, 170, 0.589)
    }
    .numbers {
        width: 12.5%;
        margin-left: 58%;
        margin-top: -3%;
    }
    #area {
        width: 45%;
        margin-top: 3%;
    }
    #meals1 {
        width: 34%;
    }
    #meals2 {
        width: 26%;
    }
    #type {
        width: 42%;
    }
}
@media screen and (max-width:560px){
    body{
        background-color:rgba(255, 0, 170, 0.589)
    }
    #FilterDiv {
        margin-left: -10%;
        width: 27%;
    }
    .contentContainer {
        height: 244px;
        margin-left: 6%;
        margin-top: 3%;
    }
    .numbers {
        width: 15.5%;
        margin-left: 55%;
        margin-top: -3%;
    }
    #area {
        width: 54%;
    }
    #meals1 {
        width: 40%;
    }
    #meals2 {
        width: 32%;
    }
    #type {
        width: 48%;
    }
    .content1>img {
        height: 239px;
    }
}

@media screen and (max-width:507px){
    body{
        background-color:rgba(255, 123, 0, 0.589)
    }
    #FilterDiv {
        margin-left: -11%;
        width: 29%;
    }
    #area {
        width: 58%;
    }
    #type {
        width: 55%;
    }
    .contentSubHeading {
        height: 18px;
        margin-left: 4%;
    }
    .contentHeading {
        height: 18px;
    }
    .contentContainer {
        width: 110%;
        margin-left: 5%;
    }
}